html { 
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} 

.topbox{
    margin-bottom: 10px; 
    padding: 20px;
}

.card-header{
    background-color: lightgrey;
}
#random-button{
    margin: 20px;
    margin-bottom: 10px;
}

h4{
    font-family: 'Quattrocento', serif;
    font-size: 3em;
}

h5{
    font-family: 'Alegreya', serif;
    font-size: 1em;
}

body {
    background-color: transparent; 
    text-align: center;
}
container{
    display: grid;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    justify-content: center;

}

.col-3{
    text-align: center;
    padding: 20px;
    margin: 20px;
    margin-top: 10px;
    border: 1px solid grey;
    border-radius: 25px;

}


.card{
    border: none;
}
